@model Ads.Business.Dtos.Navbar.NavbarViewDto

<nav class="navbar navbar-expand-lg navbar-light navigation">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
		<img src="~/template/images/logo.png" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto main-nav ">
			<li class="nav-item active">
				<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
			</li>
			<!--Categories -->
			<li class="nav-item dropdown dropdown-slide">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">
					Kategoriler<span><i class="fa fa-angle-down"></i></span>
				</a>
				<div class="dropdown-menu">
					@if (Model != null && Model.Categories.Count() > 0)
					{
						@foreach (var category in Model.Categories)
						{
							<a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Index" asp-route-category-slug="@category.Name" asp-route-id="@category.Id">@category.Name</a>
						}
					}
				</div>
			</li>

			<!--Pages -->
			<li class="nav-item dropdown dropdown-slide">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">
					Sayfalar<span><i class="fa fa-angle-down"></i></span>
				</a>
				<div class="dropdown-menu">
					@if (Model != null && Model.Pages.Count() > 0)
					{
						@foreach (var pageM in Model.Pages)
						{
							<a class="dropdown-item" asp-area="" asp-controller="Page" asp-action="Detail" asp-route-title-slug="@pageM.Title" asp-route-id="@pageM.Id">@pageM.Title</a>
						}
					}
				</div>
			</li>
		</ul>

		@await Component.InvokeAsync("UserName")

	</div>
</nav>
