@using Ads.Business.Dtos.City


@model IEnumerable<CityViewDto>

<div class="container-fluid">
  <h1>Şehir Listesi</h1>
  <a class="btn btn-success my-2" asp-area="Admin" asp-controller="City" asp-action="Create">Yeni Şehir Ekle</a>
  <table class="table table-striped" id='myTable'>
    <thead>
      <tr>
        <th>Değiştir/Sil/İlçeler</th>
        <th><label asp-for="@Model.FirstOrDefault().Name ?? " Şehir Adı"></label></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var city in Model)
      {
        <tr>
          <td>
            <a asp-area="Admin" asp-controller="City" asp-action="Edit" asp-route-id="@city.Id" class="btn btn-primary">Değiştir</a> |
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
              @if (User.IsInRole("Superadmin"))
              {
                <a asp-area="Admin" asp-controller="City" asp-action="Delete" asp-route-id="@city.Id" class="btn btn-danger">Sil</a>
                <p style="margin:0;display:inline">|</p>
              }
            }
            <a asp-area="Admin" asp-controller="District" asp-action="Index" asp-route-cityId="@city.Id" class="btn btn-warning">İlçeler</a>
          </td>
          <td>@city.Name</td>
        </tr>
      }
    </tbody>
  </table>
</div>


@section Scripts {
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

  @* 	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> *@
  <script>

    $(document).ready(function () {
      $('#myTable').DataTable(
        {
          pagingType: 'full_numbers',
          language: {
            info: '_PAGES_ sayfa arasından _PAGE_. sayfa gösteriliyor',
            infoEmpty: 'Hiç kayıt bulunamadı',
            infoFiltered: '(Toplam _MAX_ kayıt arasından filtrelendi.)',
            lengthMenu: 'Sayfa başına _MENU_ kayıt göster',
            zeroRecords: 'Aramaya uygun kayıt bulunamadı.',
            search: "Ara",
            paginate: {
              "first": "İlk",
              "last": "Son",
              "next": "Sonraki",
              "previous": "Önceki"
            }
          },

          lengthMenu: [
            [10, 20, 50, -1],
            [10, 20, 50, 'Hepsi']
          ]
        }
      );
    });
  </script>
  <style type="text/css">
    #tbllist_filter {
      margin-bottom: 1%;
    }
  </style>

}