@model Ads.Entities.Concrete.Address
<div class="container-fluid">

	<div class="card">
		<div class="row">
			<div class="card-body">
				<h2>Adresi Sil</h2>
				<div asp-validation-summary="All" class="text-danger"></div>
				@if (TempData.ContainsKey("SuccessMessage"))
				{
					<div class=" col-8 alert alert-success">
						@TempData["SuccessMessage"]
					</div>
				}
				@if (TempData.ContainsKey("ErrorMessage"))
				{
					<div class="col-8 alert alert-danger">
						@TempData["ErrorMessage"]
					</div>
				}
			</div>
		</div>
		<div class="card-body">
			<form method="post">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Kullanıcı ID: </label>
							<input value="@Model.UserId" asp-for=@Model.UserId class="form-control" readonly />
							<span asp-validation-for="@Model.UserId" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Adres ID: </label>
							<input value="@Model.Id" asp-for=@Model.Id class="form-control" readonly />
							<span asp-validation-for="@Model.Id" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Ülke :</label>
							<input value="Türkiye" asp-for=@Model.Country class="form-control" readonly />
							<span asp-validation-for="@Model.Country" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Şehir :</label>
							<input value="@Model.City.Name" asp-for=@Model.City class="form-control" readonly />
							<span asp-validation-for="@Model.City" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>İlçe :</label>
							<input value="@Model.District.Name" asp-for=@Model.District class="form-control" readonly />
							<span asp-validation-for="@Model.District" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Posta Kodu :</label>
							<input value="@Model.PostCode" asp-for=@Model.PostCode class="form-control" readonly />
							<span asp-validation-for="@Model.PostCode" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<label>Detaylı Adres :</label>
							<textarea value="@Model.DetailedAddress" asp-for=@Model.DetailedAddress class="form-control" id="floatingTextarea2" readonly></textarea>
							<span asp-validation-for="@Model.DetailedAddress" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group" style="margin-top:10px">
							<button type="submit" asp-area="Admin" asp-controller="Address" asp-action="Delete" class="btn btn-success">Sil</button>
							<a asp-area="Admin" asp-controller="Address" asp-action="Index" class="btn btn-danger">Geri Dön</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>