@model IEnumerable<Ads.Entities.Concrete.Setting>

<div class="container-fluid">

  <h1>Kullanıcı Listesi</h1>
  <a class="btn btn-success my-2" asp-area="Admin" asp-controller="Setting" asp-action="Add">Ayar Ekle</a>
  <table class="table table-striped" id='myTable'>
    <thead>
      <tr>
        <th>İşlemler</th>
        <th>Oluşturulma Tarihi</th>
        <th>Düzenlenme Tarihi</th>
        <th>Ayar Sahibi</th>
        <th>Ayar Adı</th>
        <th>Ayar Değeri</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var setting in Model)
      {
        <tr>
          <td>         
              @if (User.Identity.IsAuthenticated && User.Identity != null)
              {
                <a asp-area="Admin" asp-controller="Setting" asp-action="Edit" asp-route-id="@setting.Id" class="btn btn-primary">Düzenle</a>
                if (User.IsInRole("Superadmin"))
                {
                   <span> | </span><a asp-area="Admin" asp-controller="Setting" asp-action="Delete" asp-route-id="@setting.Id" class="btn btn-danger">Sil</a>
                }
              }            
          </td>
          <td>@setting.CreatedDate</td>
          <td>@setting.UpdatedDate</td>
          <td>@setting.User.FirstName @setting.User.LastName</td>
          <td>@setting.Name</td>
          <td>@setting.Value</td>
        </tr>
      }
    </tbody>
  </table>
</div>
@section Scripts {
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

  @* 	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> *@
  <script>

    $(document).ready(function () {
      $('#myTable').DataTable(
        {
          pagingType: 'full_numbers',
          language: {
            info: '_PAGES_ sayfa arasından _PAGE_. sayfa gösteriliyor',
            infoEmpty: 'Hiç kayıt bulunamadı',
            infoFiltered: '(Toplam _MAX_ kayıt arasından filtrelendi.)',
            lengthMenu: 'Sayfa başına _MENU_ kayıt göster',
            zeroRecords: 'Aramaya uygun kayıt bulunamadı.',
            search: "Ara",
            paginate: {
              "first": "İlk",
              "last": "Son",
              "next": "Sonraki",
              "previous": "Önceki"
            }
          },

          lengthMenu: [
            [10, 20, 50, -1],
            [10, 20, 50, 'Hepsi']
          ]
        }
      );
    });
  </script>
  <style type="text/css">
    #tbllist_filter {
      margin-bottom: 1%;
    }

    #myTable td:first-child {
      white-space: nowrap; /* Prevents wrapping to a new line */
    }
  </style>

}
