@model IEnumerable<Ads.Entities.Concrete.AdvertComment>

<div class="container-fluid">

  <h1>Reklam Yorum Listesi</h1>
  <a class="btn btn-success my-2" asp-area="Admin" asp-controller="Advert" asp-action="CommentAdd" asp-route-id="@ViewBag.AdvertId">Yorum Ekle</a>
  <table class="table table-striped" id='myTable'>
    <thead>
      <tr>
        <th>İşlemler</th>
        <th>Kullanici</th>
        <th>Yorum</th>
        <th>Oluşturulma tarihi</th>
        <th>Yenileme Tarihi</th>
        <td>Puan</td>

      </tr>
    </thead>

    <tbody>
      @foreach (var comment in Model)
      {
        <tr>
          <td>
            <form method="post">
              <a asp-area="Admin" asp-controller="Advert" asp-action="CommentEdit" asp-route-id="@comment.Id" class="btn btn-primary">Düzelt</a> |

              <button type="submit" class="btn btn-danger" asp-area="Admin" asp-controller="Advert" asp-action="CommentRemove" asp-route-id="@comment.Id">Sil</button>

            </form>
          </td>
          <td>@comment.Advert.User.FirstName @comment.Advert.User.LastName</td>
          <td>@comment.Comment</td>
          <td>@comment.CreatedDate</td>
          @if (comment.UpdatedDate == null)
          {
            <td>Mevcut Degil</td>
          }
          else
          {
            <td>@comment.UpdatedDate</td>
          }
          
          <td>@comment.StarCount</td>
          
          
        </tr>
      }
    </tbody>
  </table>

</div>



@section Scripts {
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

  @* 	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> *@
  <script>

    $(document).ready(function () {
      $('#myTable').DataTable(
        {
          pagingType: 'full_numbers',
          language: {
            info: '_PAGES_ sayfa arasından _PAGE_. sayfa gösteriliyor',
            infoEmpty: 'Hiç kayıt bulunamadı',
            infoFiltered: '(Toplam _MAX_ kayıt arasından filtrelendi.)',
            lengthMenu: 'Sayfa başına _MENU_ kayıt göster',
            zeroRecords: 'Aramaya uygun kayıt bulunamadı.',
            search: "Ara",
            paginate: {
              "first": "İlk",
              "last": "Son",
              "next": "Sonraki",
              "previous": "Önceki"
            }
          },

          lengthMenu: [
            [10, 20, 50, -1],
            [10, 20, 50, 'Hepsi']
          ]
        }
      );
    });
  </script>
  <style type="text/css">
    #tbllist_filter {
      margin-bottom: 1%;
    }
  </style>

}
