@model IEnumerable<Ads.Entities.Concrete.AdvertImage>

<div class="container-fluid">

  <h1>Reklam Resimleri Listesi</h1>
  <a class="btn btn-success my-2" asp-area="Admin" asp-controller="Advert" asp-action="ImageAdd" asp-route-id="@ViewBag.AdvertId">Resim Ekle</a>
  <table class="table table-striped" id='myTable'>
    <thead>
      <tr>
        <th>İşlemler</th>

        <th>Oluşturulma tarihi</th>
        <th>Resim</th>

      </tr>
    </thead>

    <tbody>
      @foreach (var image in Model)
      {
        <tr>
          <td>

            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
              @if (User.IsInRole("Superadmin"))
              {
                <form method="post">
                  <button type="submit" class="btn btn-danger" asp-area="Admin" asp-controller="Advert" asp-action="ImageRemove" asp-route-id="@image.Id">Sil</button>
                </form>
              }
            }
          </td>
          <td>@image.CreatedDate</td>
          <td>
          @if (Uri.IsWellFormedUriString(image.ImagePath, UriKind.Absolute))
          {
            <!-- If ImagePath is a URL -->
            <img src="@image.ImagePath" alt="Image" width="40" height="40" />
          }
          else
          {
            <!-- If ImagePath is a local path -->
            var localImagePath = Url.Content($"~/uploads/{image.ImagePath}");
              <img src="@localImagePath" alt="Image" width="40" height="40" />
          }
          </td>



        </tr>
      }
    </tbody>

  </table>
  <div class="d-flex mt-4 justify-content-end">
    <a asp-area="Admin" asp-controller="Advert" asp-action="Index" class="btn btn-primary" style="width:150px">Listeye Dön</a>
  </div>
</div>



@section Scripts {
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

  @* 	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> *@
  <script>

    $(document).ready(function () {
      $('#myTable').DataTable(
        {
          pagingType: 'full_numbers',
          language: {
            info: '_PAGES_ sayfa arasından _PAGE_. sayfa gösteriliyor',
            infoEmpty: 'Hiç kayıt bulunamadı',
            infoFiltered: '(Toplam _MAX_ kayıt arasından filtrelendi.)',
            lengthMenu: 'Sayfa başına _MENU_ kayıt göster',
            zeroRecords: 'Aramaya uygun kayıt bulunamadı.',
            search: "Ara",
            paginate: {
              "first": "İlk",
              "last": "Son",
              "next": "Sonraki",
              "previous": "Önceki"
            }
          },

          lengthMenu: [
            [10, 20, 50, -1],
            [10, 20, 50, 'Hepsi']
          ]
        }
      );
    });
  </script>
  <style type="text/css">
    #tbllist_filter {
      margin-bottom: 1%;
    }
  </style>

}