
@model IEnumerable<Ads.Business.Dtos.Subcategory.SubcategoryViewDto>
@{

  var successMessage = TempData["successMessage"]?.ToString();
  var errorMessage = TempData["errorMessage"]?.ToString();
}

<div class="container">

  <h1>AltKategori Listesi</h1>
  @if (!string.IsNullOrWhiteSpace(successMessage))
  {
    <div class="alert alert-success">
      <strong>Success!</strong>
      @successMessage
      <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

  }
  else if (!string.IsNullOrWhiteSpace(errorMessage))
  {
    <div class="alert alert-danger">
      <strong>Error!</strong>
      @errorMessage
      <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

  }
  <a class="btn btn-success my-2" asp-area="Admin" asp-controller="Subcategory" asp-action="Create">AltKategori Ekle</a>
  <table class="table table-striped" id='myTable'>
    <thead>
      <tr>
        <th>İşlem</th>
        <th>AltKategori Adı</th>
        <th>Kategori Adı</th>
      </tr>
    </thead>

    <tbody>
      @foreach (var subcategory in Model)
      {
        <tr>
          <td>
            <form method="post">
              <a asp-area="Admin" asp-controller="Subcategory" asp-action="Edit" asp-route-id="@subcategory.Id" class="btn btn-primary">Düzenle</a> |
@*
              <button type="submit" class="btn btn-danger" asp-area="Admin" asp-controller="Subcategory" asp-action="Delete" asp-route-id="@subcategory.Id">Sil</button> |*@
              <a asp-area="Admin" asp-controller="Subcategory" asp-action="Delete" asp-route-id="@subcategory.Id" class="btn btn-danger">Sil</a> |


            </form>
          </td>
          <td>@subcategory.Name</td>
          <td>
            @if (subcategory.Category != null)
            {
              @subcategory.Category.Name
            }
          </td>
        </tr>
      }
    </tbody>
  </table>

</div>



@section Scripts {
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

  @* 	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> *@
  <script>

    $(document).ready(function () {
      $('#myTable').DataTable(
        {
          pagingType: 'full_numbers',
          language: {
            info: '_PAGES_ sayfa arasından _PAGE_. sayfa gösteriliyor',
            infoEmpty: 'Hiç kayıt bulunamadı',
            infoFiltered: '(Toplam _MAX_ kayıt arasından filtrelendi.)',
            lengthMenu: 'Sayfa başına _MENU_ kayıt göster',
            zeroRecords: 'Aramaya uygun kayıt bulunamadı.',
            search: "Ara",
            paginate: {
              "first": "İlk",
              "last": "Son",
              "next": "Sonraki",
              "previous": "Önceki"
            }
          },

          lengthMenu: [
            [10, 20, 50, -1],
            [10, 20, 50, 'Hepsi']
          ]
        }
      );
    });
  </script>
  <style type="text/css">
    #tbllist_filter {
      margin-bottom: 1%;
    }
  </style>

}