@using Ads.Business.Dtos.Users

@model IEnumerable<UserViewDto>

<div class="container">

	<h1>Kullanıcı Listesi</h1>
	<a class="btn btn-success my-2" asp-area="Admin" asp-controller="User" asp-action="Create">Yeni Kullanıcı Ekle</a>
	<table class="table table-striped" id='myTable'>
		<thead>
			<tr>
				<th>Action</th>

				<th>Rol</th>
				<th>Adı Soyadı</th>
				<th>E-mail Adresi</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>
						<form asp-area="Admin" asp-controller="User" asp-action="Delete" method="post" onsubmit="return confirm('Silmek istediğinizden emin misini?')" style="display:inline-block">
							<button type="submit" asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userId="@user.Id" class="btn btn-danger">Sil</button> |
						</form>
						<a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id" class="btn btn-info">Rol Değiştir</a> |
					</td>
					<td>@user.Role</td>
					<td>@user.FullName</td>
					<td>@user.Email</td>
				</tr>
			}
		</tbody>
	</table>

</div>



@section Scripts {
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

	@* 	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script> *@
	<script>

		$(document).ready(function () {
			$('#myTable').DataTable(
				{
					pagingType: 'full_numbers',
					language: {
						info: '_PAGES_ sayfa arasından _PAGE_. sayfa gösteriliyor',
						infoEmpty: 'Hiç kayıt bulunamadı',
						infoFiltered: '(Toplam _MAX_ kayıt arasından filtrelendi.)',
						lengthMenu: 'Sayfa başına _MENU_ kayıt göster',
						zeroRecords: 'Aramaya uygun kayıt bulunamadı.',
						search: "Ara",
						paginate: {
							"first": "İlk",
							"last": "Son",
							"next": "Sonraki",
							"previous": "Önceki"
						}
					},

					lengthMenu: [
						[10, 20, 50, -1],
						[10, 20, 50, 'Hepsi']
					]
				}
			);
		});
	</script>
	<style type="text/css">
		#tbllist_filter {
			margin-bottom: 1%;
		}
	</style>

}